/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: var(--font);
}

/* 모달 컨텐츠 */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.edit-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
}

input {
  width: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* 모달 컨텐츠 끝 */

/* admin-header CSS starts here */
.admin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFEFEF;
  width: 100%;
  height: 13rem;
  border: 2px solid grey;
  box-shadow: 3px 3px 3px grey;
}

  .admin-header > .logo-img {
    height: 6rem;
  }

  .logo-img > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
  }

  .admin-header-title {
    font-weight: bold;
    font-size: 1.5em;
    height: 2rem;
  }

  .admin-header-title.one {
    display: none;
  }

  .admin-header > .devops-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  button {
    cursor: pointer;
    padding: 8px 12px;
    border: 2px solid var(--main-brown);
    border-radius: 10px;
    background-color: white;
    margin-right: 10px;
  }

/* admin-header CSS ends here */

/* admin-content starts here */

.admin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .template-number {
    display: none;
  }

  .admin-content > .alert-success {
    margin-top: 1rem;
  }

  .template-stats {
    display: flex;
    padding: 10px;
    margin: 10px;
  }

  .number {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }

  .admin-template {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .admin-template > .admin-side-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 0.5rem;
  }

  .admin-side-bar > ul {
    width: 70%;
    cursor: pointer;
    list-style: none;
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
  }

  .list-group > .list-group-item {
    padding: 0.7rem 0.5rem;
    border-bottom: 1px solid var(--pretty-black);
  }

  .list-group > .list-group-item:last-child {
    border-bottom: 0px solid white;
  }

  .list-group-item > .badge {
    padding: 0 0.8rem;
    float: right;
    border: 3px solid var(--dark-gray);
    border-radius: 50px;
    background-color: var(--dark-gray);
    color: white;
  }

  .list-group-item > .badge.active {
    border: 3px solid var(--main-green);
    background-color: var(--main-green);
  }


/* admin-table starts here */
.nm {
  display: none;
}

.admin-table {
  width: 90%;
}

.table,
.table-content,
.table-header,
.table-data,
.table-data-row {
  width: 100%;
}

/* https://css-tricks.com/almanac/properties/t/text-overflow/ */
.table-col-40 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table-col-30 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table-col-10 {
  display: flex;
}

.far {
  cursor: pointer;
}

.icon {
  margin-right: 1rem;
}

/* admin-table ends here */

/* waiting for approval starts here */
.waiting-for-approval{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.waiting-for-approval > .wfa-title-div {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: solid 1px var(--light-gray);
  box-shadow: 0 4px 2px -2px var(--light-gray);/
}

.waiting-for-approval > .wfa-approval-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.wfa-approval-div > .approval-all {
  border: 2px solid var(--main-brown);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.sent-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trans-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.approval-btn {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.approval-all {
  border: 2px solid var(--main-brown);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}


/*Desktop Styles*/
@media only screen and (min-width: 960px) {
  .nm {
    display: unset;
  }

  .admin-header-title.one {
    display: unset;
  }

  .admin-header-title.two {
    display: none;
  }

  .template-number {
    display: unset;
    order: 3
  }

  .admin-content {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .alert-heading.one {
    position: absolute;
    top: 17rem;
    left: 43%;
  }
  .admin-template {
    order: 1;
    width:20rem;
  }

  .admin-table.one {
    order: 2;
    width: 65%;
    margin-right: 1%;
  }

  .template-number {
    display: unset;
    order: 3
  }

  .template-stats {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
  }



}
