/* 변수 설정 */
/* 색상은 대문자 사용 */
:root {
  --main-green: #2BDE73;
  --btn-green: #2FC66C;
  --main-red: #F95759;
  --main-purple: #C986FC;
  --main-brown: #C4B07B;
  --black: #212121;
  --pretty-black: #3F3F3F;
  --dark-gray: #9C9C9C;
  --gray: #BDBDBD;
  --light-gray: #EFEFEF;
  --very-light-gray: #F9F9F9;
  --navbar-height: 5rem;
  --logo-font: 'Ubuntu';
  --font: 'Gothic A1';
  --btn-radius: 5px;
  --input-radius: 3px;
}


/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: var(--font);
}

/* admin-header CSS starts here */
.admin-header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

  .admin-header > .devops-btn {
    display: flex;
    position: absolute;
    right: 8rem;
    top: 2rem;
  }
  .devops-btn > .dev-btn {
    width: 4rem;
    text-align: center;
    font-size: 18px;
    border: 1px solid var(--pretty-black);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  .devops-btn > .ops-btn {
    width: 4rem;
    text-align: center;
    font-size: 18px;
    border: 1px solid var(--pretty-black);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .admin-header > .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
  }

  .admin-header > .admin-header-title {
    font-weight: bold;
    font-size: 25px;
    margin-top : 2rem;
  }

  .logo-img > .avocado-img {
    height: 9rem;
    width: 9rem;
    border: solid 1px var(--gray);
    border-radius: 50%;
    box-shadow: 3px 3px 7px 4px var(--light-gray);
  }

/* admin-header CSS ends here */

/* admin-content CSS starts here */
.admin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

  .admin-content > .admin-title {
    display: flex;
    height: 2rem;
    width: 100%;
    font-size: 20px;
    border-bottom: solid 1px var(--light-gray);
    box-shadow: 0 4px 2px -2px var(--light-gray);
  }

  .admin-content > .alert.alert-success {
    width: 95%;
    height: 20%;
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .admin-template {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .admin-template > .admin-side-bar {
    width: 15%;
    height: 100%;
    margin: 0 0.5rem;
  }

  .admin-template > .admin-table {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
    margin: 0 0.5rem;
  }

  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

.template-stats {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 0.5rem;

}

.template-stats > .number_template,
 .template-stats > .in_progress,
  .template-stats > .done_progress {
  display: flex;
  margin: 1rem 0;
}

.number_template > .stats,
 .in_progress > .stats,
  .done_progress > .stats {
    margin : 0 3rem 0 1rem;
    font-size: 20px;
    font-weight: bold;
  }
/* admin-content CSS ends here */

/* .waiting-for-approval CSS starts here */
.waiting-for-approval{
  width: 90%;
  margin: auto;
  margin-bottom: 10rem;
}

.waiting-for-approval > .wfa-title-div {
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  border-bottom: solid 1px var(--light-gray);
  box-shadow: 0 4px 2px -2px var(--light-gray);/
}

.wfa-title-div > .wfa-title {
  width: 90%;
  margin: auto;
  position: relative;
  font-size: 20px;
}

.wfa-title > .approval-all {
  position: absolute;
  width: 7rem;
  height: 2rem;
  font-weight: bold;
  border: 1px solid var(--pretty-black);
  border-radius: 5px;
  top: 2.5rem;
  right: 0;
  cursor: pointer;
}

.waiting-for-approval > .wfa-table {
  width: 90%;
  margin: auto;
}

/* .waiting-for-approval CSS ends here */
