<!DOCTYPE html>
<html lang="kr">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <title>베지아보카도</title>
      <link rel="icon" href="./assets/img/avocado.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">
      <link rel="stylesheet" href="./assets/css/template.css" type="text/css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>

    <body>

      <div class="body">

        <div class="navbar">
          <div class="navbar-logo"><a href="./home.html">VeggieAvocado</a></div>
          <div class="navbar-action">
            <div class="action-btn template">
              <div class="action-btn-text">
                잡템플릿
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first"><a href="./editdoc.html">이력서</a></li>
                <li>커버레터</li>
                <li class="list-last">모의면접</li>
              </ul> -->
            </div>
            <div class="action-btn matching">
              <div class="action-btn-text">
                잡매칭
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first">회사/직무</li>
                <li class="list-last">1:1 잡매칭</li>
              </ul> -->
            </div>
            <div class="action-btn sop">
              <div class="action-btn-text">
                SOP/컨설팅
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first">대학원리스트</li>
                <li>SOP첨삭</li>
                <li class="list-last">합격자소서</li>
              </ul> -->
            </div>
          </div>
          <div class="navbar-login">
            <button class="login-btn"><a href="./login.html">로그인/회원가입</a></button>
          </div>
        </div>

        <div class="content-1">
          <div class="create-content">
            <h2>Heading</h2>
            <!-- 레쥬메 작성 폼 시작 -->
            <form class="create-form">
              <!-- 첫 째 줄 부분 (이름, 성) -->
             <div class="name-area">
               <div class="name-input">
                 First name(이름):<br>
                 <input type="text" name="firstname" value="">
               </div>
               <div class="name-input">
                 Last name(성):<br>
                 <input type="text" name="lastname" value="">
               </div>
             </div>
             <!-- 주소 줄 부분 -->
             <div class="address-area">
               Address(주소):<br>
               <input type="text" name="address" value="">
             </div>
             <!-- 번호 줄 부분 -->
             <div class="number-area">
               <div class="number-input">
                 Home Phone(이름):<br>
                 <input type="text" name="homephone" value="">
               </div>
               <div class="number-input">
                 Cell Phone(성):<br>
                 <input type="text" name="cellphone" value="">
               </div>
             </div>
             <!-- 이메일 부분 -->
             <div class="email-area">
               Email Address(이메일 주소):<br>
               <input type="text" name="email" value="">
             </div>
            </form>
          </div>
          <div class="template-preview">template-preview</div>
          </div>
          <div class="content-2">
            <div class="button-sec">
              <div class="button-sec-one">
                <div class="sec-one-wrapper">
                  <button type="button" name="button">이전</button>
                </div>
              </div>
              <div class="button-sec-two">
                <div class="sec-two-wrapper">
                  <button type="button" name="button">다음 : work history</button>
                </div>
              </div>
          </div>
        </div>


      </div>

    </body>

</html>
