/* This is a css for home.html */

/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* default css settings end here */


/* Content-1 CSS starts here */
.content-1 {
  height: 23rem;
  position: relative;
}

  .content-1 > .content-img {
    height: inherit;
    background-image: url(../img/home.jpg);
    background-position: center;
    background-size: cover;
  }

  .content-1 > .content-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
  }

  .content-1 > .content-txt {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .content-txt > .look-btn {
      margin-top: 2rem;
      width: 50%;
      padding: 0.7rem;
      color: white;
      font-weight: bold;
      border: solid 1.5px var(--btn-green);
      border-radius: var(--btn-radius);
      background-color: var(--btn-green);
      cursor: pointer;
    }
/* Content-1 CSS ends here */


/* Content-2 CSS starts here */
.content-2 {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--gray);
}

  .content-2 > .blank-space {
    width: 20%;
  }

  .content-2 > .content-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

    .content-container > .popular-act {
      height: 2rem;
      margin: 0 1rem;
      margin-top: 0.7rem;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;
    }

    .content-container > .popular-act:hover {
      border-bottom: solid 4px var(--gray);
    }
/* Content-1 CSS ends here */


/* Content-3 CSS starts here */
/* .content-3 {
  height: 34rem;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
}

  .content-3 > .veggie {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

    .content-3 > .veggie > .veggie-main {
      height: inherit;
      width: 49%;
      display: flex;
      flex-direction: column;
    }

    .veggie-main > .veggie-main-txt {
      height: 17%;
      width: 100%;
      font-size: 150%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: -1rem;
    }

    .veggie-main-imgbox {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .veggie-main-imgbox > .veggie-main-imgbox-img-1 {
      height: 17rem;
      width: 100%;
      background-image: url(../img/coffee-cup.jpg);
      background-position: center;
      background-size: cover;
      border: solid 1px var(--gray);
    }

    .veggie-main-imgbox > .veggie-main-imgbox-img-2 {
      height: 17rem;
      width: 100%;
      background-image: url(../img/event-img.jpg);
      background-position: center;
      background-size: cover;
      border: solid 1px var(--gray);
    }

    .veggie-main-imgbox > .veggie-main-imgbox-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-left: solid 1px var(--gray);
      border-right: solid 1px var(--gray);
      border-bottom:solid 1px var(--gray);
    }

    .veggie-main-imgbox-text > .veggie-main-imgbox-txt-1 {
      margin-top: 10px;
      font-weight: bold;
      margin-left: 10px;
    }

    .veggie-main-imgbox-text > .veggie-main-imgbox-txt-2 {
      margin-bottom: 10px;
      margin-left: 10px;
    } */

/* Content-3 CSS ends here */

/* Content-4 CSS starts here */

    .content-4-wrapper {
      width: 100%;
      height: 25rem;
      background-color: #F6F7F7;
    }

    .content-4 {
      width: 70%;
      margin: auto;
      /* background-color: blue; */
    }

    .content-4 > .textanalysis-txt {
      height: 4rem;
      display: flex;
      align-items: flex-end;
      font-weight: bold;
    }

    .content-4 > textarea {
      margin-top: 2rem;
      width: 100%;
    }

    .content-4 > .txt-btn{
      margin: 2rem 0 5rem 0;
      display: flex;
      justify-content: flex-end;
      background-color: #F6F7F7;
    }

    .content-4 > button {
      width: 2rem;
      height: 2rem;
    }

    .content-5 {
      height: 3rem;
    }

/* Content-4 CSS ends here */

/*Mobile Styles*/
@media only screen and (max-width: 900px) {

    .narrow-button > button {
    margin-right: 1rem;
    border: solid 1.5px var(--black);
    border-radius: var(--btn-radius);
    background-color: white;
    color: var(--black);
    padding: 0.3rem;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
  }

  .content-1{
    height: 15rem;
  }

  .content-txt {
    width: 90%;
    font-size: 0.8em;
  }



  .content-2 {
    display: none;
  }

/* Content-3 CSS starts here */

  /* .content-3 {
    background-color: red;
    width: 100%;
  }

  .content-3 > .veggie {
    background-color: blue;

    display: flex;
    flex-direction: column;
    width: inherit;
  } */

/* Content-3 CSS ends here */

  .content-4 {
    width: 80%;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .menu-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-btns > .footer-btn {
    width: inherit;
    font-size: 0.8em;
  }


  .footer > .comp-info {
    width: 100%;
  }
