body {
  /* height: 720px; */
}

a: link
a: visited {
  color: #5D6063;
  text-decoration: none;
}

a.hover {
  text-decoration: underline;
}

.navbar {
  /* border-bottom: 1px solid grey; */
}


  .ppt-select-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-bottom: 15px;
    /* background-color: var(--light-gray); */
    color: var(--pretty-black);
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
  }

    .ppt-select-box {
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 80%;
      height: 20rem;
      margin: 10px 0;
      /* background-color: var(--light-gray); */
    }

      .card-wrapper {
        width: 30%;
        height: 90%;
        display: flex;
        flex-direction: column;
      }

      .card-wrapper > .card-info {
        display: flex;
        justify-content: flex-end;
        color: var(--gray);
        margin-bottom: 3%;
        font-size: 0.8em;

        cursor: pointer;
      }

      .card-info > .tmp-stats {
        margin-right: 5px;
      }

      .card-wrapper > .card {
        height: inherit;
        display: flex;
        flex-direction: column;
        background-color: #536D7A;
        color: white;

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        position: relative;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .card > .card-img {
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
      }

    .card > .card-img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(33, 33, 33, 0.5);
    }
/* 카드 이미지는 하나씩 */
    .card-img.one {
      background-image: url(../img/conference.jpg);
    }

    .card-img.two {
      background-image: url(../img/chart.jpg);
    }

    .card-img.three {
      background-image: url(../img/innovation.jpg);
    }

    .card-img.four {
      background-image: url(../img/mindmap.jpg);
    }

    .card-img.five {
      background-image: url(../img/workplace.jpg);
    }

    .card-img.six {
      background-image: url(../img/singapore.jpg);
    }

    .container-head,
    .container-content
     {
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       transform: translate3d(-50%, -50%, 0);
      /* margin: 5px; */
      padding: 5px 20px 0px 20px;
    }

    .card > .container-head {
      cursor: pointer;
      color: orange;
    }


    @media {

    }
