/* 공통설정 */
input {
  width: 100%;
}

textarea {
  width: 100%;
}

.txt > p {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}


.customer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14rem;
    margin-bottom: 5px;
    color: var(--pretty-black);
  }

  .customer-title > h1 {
    border-bottom: 3px solid #B9D784;
    border-bottom-style: dotted;
  }

  .nav-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px var(--light-gray);
    box-shadow: 2px 2px 3px 2px var(--very-light-gray);
  }

  .nav-introduction {
     width: 100%;
     padding: 5px 20px 10px 10px;
<<<<<<< HEAD
     font-size: 1.3em;
     font-family: 'Ubuntu', sans-serif;
=======
     font-size: 1em;
     font-family: 'Nanum Gothic', sans-serif;
>>>>>>> refs/remotes/origin/css
     margin-bottom: 2rem;
    }

    .nav-introduction > a .navbar-logo {
      background-image: url(../../img/logo_veggie.png);
      position: relative;
      left: 20px;
      width: 150px;
      height: 55px;
      background-position: center;
      background-size: contain;
    }

  /* content-1 css starts here */

  i {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5px;
  }

.content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-1 > .text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  margin-top: -2rem;
}

.submit-btn  {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

.submit-btn > .submit-button {
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin: 1rem 0;
      padding: 10px 30px;
      background-color: #b9d784;

      padding: 8px;
}


/*Desktop Styles*/
@media only screen and (min-width: 900px) {
  .content-1 > .text-wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .content-1 > .text-wrapper {
    width: 100%;
    padding: 5px 100px;
  }

  .text-wrapper > .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .txt > p {
    font-size: 0.9rem;
  }

  .text-wrapper > .txt > input {
    width: 20rem;
  }

  .text-wrapper > .txt > textarea {
    width: 20rem;
  }

  .submit-btn {
    width: 100%;
  }

  .submit-btn > .submit-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
