/* default css settings */
* {
  top: -1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* default css settings end here */

body{
  display: flex;
  flex-direction: column;
}

/* 홈페이지 구성 (오더 정리) */
header {
  order: 1;
}

.content-1 {
  order: 3;
}

.content-2 {
  order: 2;
}

.content-2-wide {
  order: 4;
}

.footer {
  order: 5;
}

header {
  position: relative;
  width: 100%;
  height: 450px;
  background-image: url(../../img/particle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  color: white;
}

/*mobile navbar starts here */

.navbar {
  display: none;
}

.wide-logo-txt {
  display: none;
}

.wide-nav-button {
  display: none;
}

.fa-angle-double-down {
  display: none;
}

.nav-logo {
  position: relative;
  left: 20px;
  top: 35px;
  width: 150px;
  height:55px;
  background-image: url(../../img/logo_veggie.png);
  background-position: center;
  background-size: contain;
}

/* drop down starts here */
.dropdown-wrapper {
  position: fixed;
  right: 40px;
  top: 40px;
  font-size: 2rem;
  cursor: pointer;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    width: 150px;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    text-align: center;
  }

  .dropdown-content a {
      color: black;
      padding: 10px 15px;
      font-size: 12px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
      display: block;
  }
  /* dropdown ends here */

.narrow-logo-txt {
  margin-top: 30%;
  font-size: 2rem;
  text-align: center;
}

.nav-button {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

  .nav-button > button  {
  padding: 10px 30px;
  background-color: #808080;
  border-radius: 20px;
  cursor: pointer;
  }

/* navbar ends here */

/* content-1 starts here */
.content-1  {
  background-color: #f7f7f7;
}

  .content-1-txt > p {
    margin: 3rem 0;
    font-size: 1.5em;
    text-align: center;
  }

  .content-1-wrapper {
    display: flex;
    justify-content: center;
  }

    .content-1-wrapper > textarea  {
      width: 80%;
    }

  .txt-btn  {
    width: 100%;
    display: flex;
    justify-content: center;
  }

    .txt-btn  > .txt-analysis-btn{
      margin: 3rem 0;
      padding: 10px 30px;
      background-color: #b9d784;
      cursor: pointer;
    }
/* content-1 ends here */

/* content-2 starts here  */
.content-1 > p {
  margin: 2rem 0;
  font-size: 1.5em;
  text-align: center;
}

.content-1-wrapper {
  display: flex;
  justify-content: center;
}

.content-1-wrapper > textarea  {
  width: 80%;
}

.txt-btn  {
  width: 100%;
  display: flex;
  justify-content: center;
}

.txt-btn  > .txt-analysis-btn{
  margin: 3rem 0;
  padding: 10px 30px;
  background-color: #b9d784;
  cursor: pointer;
}

.content-2  {
  margin-bottom: 2rem;
}

  .content-2 > p  {
    margin: 2rem 0;
    font-size: 1.5em;
    text-align: center;
  }

    .why-img > .accuracy {
      display: flex;
    }
    .accuracy-img {
      width: 33.3%;
      height:55px;
      background-image: url(../../img/accuracy.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .why-img > .insight  {
      display: flex;
    }
    .insight-img {
      width: 33.3%;
      height:55px;
      background-image: url(../../img/insight.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }


.content-2 > p  {
  margin: 2rem 0;
  font-size: 1.5em;
  text-align: center;
}

.accuracy {
  display: flex;
}

.accuracy-img {
  background-image: url(../../img/accuracy.png);
  width: 33.3%;
  height:55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.insight  {
  display: flex;
}

.insight-img {
  background-image: url(../../img/insight.png);
  width: 33.3%;
  height:55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.easy  {
  display: flex;
}

.easy-img {
  background-image: url(../../img/easy.png);
  width: 33.3%;
  height:55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/* 반응형 코드 시작 */
@media only screen and (min-width: 400px)  {

/* display: none */

  .narrow-navbar {
    display: none;
  }

  .content-2  {
    display: none;
  }

  .wide-logo-txt {
    display: block;
  }

  .wide-nav-button {
    display: block;
  }

  header {
    height: 750px;
  }

  .navbar {
    padding: 30px 60px;
    display: block;
    display: flex;
    align-items: center;
  }

  .nav-logo {
    position: static;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu > .action-btn {
    padding: 10px 30px;
    cursor: pointer;
  }

  .nav-login  {
    display: flex;
  }

  .nav-login > .login-btn {
    padding: 10px 15px;
    cursor: pointer;
  }

  .wide-logo-txt  {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    font-size: 3.3rem;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
  }

  .wide-nav-button  {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
  }

  .wide-nav-button > .nav-button  {
  padding: 15px 45px;
  color: black;
  background-color: #808080;
  cursor: pointer;
  }

/* The animation code */
@keyframes anchor-animation {
    0%   {top: 94%;}
    25%  {top: 93%;}
    50%  {top: 92%;}
    75%  {top: 93%;}
    100% {top: 94%;}
}

.scroll-down-anchor {
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 94%;
  color: white;
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
  animation: anchor-animation 1.5s linear 1s infinite alternate;
}

.content-1  {
  height: 600px;
  width: 100%;
  background-color: #EDEFEE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-1-txt > p {
  padding: 3rem 0 0 0;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.content-1 > .content-1-wrapper {
  margin-top: 1rem;
  width: 80%;
}

.content-1-wrapper > textarea {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.content-2-wide {
  position: relative;
  height: 750px;
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
}

/* 컨텐츠 2 백그라운드 이미지 */
.content-2-wide > .content-2-bg {
  width: 100%;
  height: inherit;
  background-image: url(../../img/content-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-2-wide > .content-2-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.5);
}

.content-2-wide > .content-2-txt {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

  .content-2-txt > .sec {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
  }

  .sec > .sec-txt {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sec.sec-1:hover {
    background: rgb(198, 126, 160, 0.8);
  }

  .sec.sec-2:hover {
    background: rgb(150, 173, 105, 0.8);
  }

  .sec.sec-3:hover {
    background: rgb(103, 171, 158, 0.8);
  }

  .sec.sec-4:hover {
    background: rgb(232, 140, 85, 0.8);
  }

    .sec > .sec-txt h2 {
      font-weight: bold;
      font-size: 1.4rem;
    }

    .sec > .sec-txt p {
      font-size: 0.8rem;
    }

    .sec > .sec-btn {
      padding: 0.2rem 0.5rem;
      margin-top: 1.5rem;
      border: solid 2px #9C9C9C;
      border-radius: 10px;
      cursor: pointer;
    }

    .sec > .sec-btn:hover {
      background-color: white;
      border: solid 2px white;
      color: #3F3F3F;
    }

      .sec-btn > i {
        margin-right: 1rem;
      }

.footer {
  margin-top: -1px;
  width: 100%;
  background-color: #616161;
  color: white;
  z-index: 1
}

  .footer > .footer-menu {
    padding: 2rem 2.5rem 1rem 2.5rem;
    font-size: 1rem;
    display: flex;
  }

    .footer-menu > .menu-btns {
      width: 60%;
      display: flex;
      margin: 1rem 1rem;
    }

      .menu-btns > .footer-btn {
        margin: 0 2rem;
        cursor: pointer;
      }

    .comp-info > .logo {
      font-family: var(--logo-font), sans-serif;
      font-weight: bold;
      color: #B9D784;
      margin-bottom: 1rem;
    }

    .comp-info > .info {
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }

}

/* 반응형 프레임 코드 */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .wide-logo-txt  {
    font-size: 3.3rem;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .wide-logo-txt  {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .wide-logo-txt  {
    font-size: 2.7rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .content-2-txt {
    flex-wrap: wrap;
  }

  .content-2-txt > .sec {
    border-bottom: dashed 1px #EFEFEF;
    border-right: dashed 1px #EFEFEF;
  }

  .sec.sec-1 {
    width: 50%;
  }

  .sec.sec-2 {
    width: 50%;
    border-right: none;
  }

  .sec.sec-3 {
    width: 50%;
    border-bottom: none;
  }

  .sec.sec-4 {
    width: 50%;
    border-right: none;
    border-bottom: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .wide-logo-txt  {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .wide-logo-txt  {
    font-size: 2.1rem;
  }
}

/* footer */

@media only screen and (max-width: 1000px) {


    /* footer starts here */

    .footer {
      width: 100%;
      background-color: #616161;
      font-size: 0.8rem;
      color: white;
    }

    .footer-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .menu-btns {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      text-align: left
    }

    .menu-btns > .footer-btn {
      width: inherit;
    }

    .footer-menu > .comp-info {
      width: 100%;
    }

}

@media only screen and (max-width: 460px) {
  .wide-logo-txt  {
    font-size: 1.8rem;
  }

  .narrow-navbar {
    display: block;
  }

  .navbar.home,
  .wide-logo-txt,
  .wide-nav-button {
    display: none;
  }

  .content-2-wide {
    position: relative;
    height: 750px;
    width: 100%;
    /* 푸터와 컨텐츠 사이에 있는 흰 공간 없애기 */
    margin-bottom: -1px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
  }

  /* 컨텐츠 2 백그라운드 이미지 */
  .content-2-wide > .content-2-bg {
    width: 100%;
    height: inherit;
    background-image: url(../../img/content-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-2-wide > .content-2-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
  }

  .content-2-wide > .content-2-txt {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

    .content-2-txt > .sec {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Nanum Gothic', sans-serif;
      color: white;
    }

    .sec > .sec-txt {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .sec.sec-1,
    .sec.sec-2,
    .sec.sec-3,
    .sec.sec-4 {
      width: 100%;
      border-bottom: dashed 1px #EFEFEF;
      border-right: none;
    }

    .sec.sec-4 {
      border-bottom: none;
    }

    .sec.sec-1:hover {
      background: rgb(198, 126, 160, 0.8);
    }

    .sec.sec-2:hover {
      background: rgb(150, 173, 105, 0.8);
    }

    .sec.sec-3:hover {
      background: rgb(103, 171, 158, 0.8);
    }

    .sec.sec-4:hover {
      background: rgb(232, 140, 85, 0.8);
    }

      .sec > .sec-txt h2 {
        font-weight: bold;
        font-size: 1.4rem;
      }

      .sec > .sec-txt p {
        font-size: 0.8rem;
      }

      .sec > .sec-btn {
        padding: 0.2rem 0.5rem;
        margin-top: 1.5rem;
        border: solid 2px #9C9C9C;
        border-radius: 10px;
        cursor: pointer;
      }

      .sec > .sec-btn:hover {
        background-color: white;
        border: solid 2px white;
        color: #3F3F3F;
      }

        .sec-btn > i {
          margin-right: 1rem;
        }
}
