/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* default css settings end here */

body{
  background-color: f7f7f7;
}

header {
  position: relative;
  background-image: url(../../img/particle.svg);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  flex-direction: column;
  color: white;
}

/* navbar starts here */

.navbar {
  display: none;
}

.nav-logo {
  background-image: url(../../img/logo_veggie.png);
  position: relative;
  left: 20px;
  top: 30px;
  width: 150px;
  height:55px;
  background-position: center;
  background-size: contain;
}

.dropdown-wrapper {
  font-size: 2em;
  position: fixed;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.narrow-logo-txt {
  font-size: 2em;
  margin-top: 30%;
  text-align: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}


  .nav-button > button  {
  padding: 10px 30px;
  background-color: #808080;
  border-radius: 20px;
  cursor: pointer;
}

/* navbar ends here */

/* content-1 starts here */
.content-1  {
  background-color: f7f7f7;
}

.content-1 > p {
  margin: 2rem 0;
  font-size: 1.5em;
  text-align: center;
}

.content-1-wrapper {
  display: flex;
  justify-content: center;
}

.content-1-wrapper > textarea  {
  width: 80%;
}

.txt-btn  {
  width: 90%;
    text-align: right;
}

.txt-btn  > button{
  margin: 2rem 0;
  padding: 5px 20px;
  background-color: #b9d784;
  border-radius: 5px;
  cursor: pointer;
}

.content-2  {
  margin-bottom: 2rem;
}

.content-2 > p  {
  margin: 2rem 0;
  font-size: 1.5em;
  text-align: center;
}

.accuracy {
  display: flex;
}

.accuracy-img {
  background-image: url(../../img/accuracy.png);
  width: 50%;
  height:55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.insight  {
  margin-top: 2rem;
  display: flex;
}

.insight-img {
  background-image: url(../../img/insight.png);
  width: 50%;
  height:55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/*
  .footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .menu-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-btns > .footer-btn {
    width: inherit;
    font-size: 0.8em;
  }


  .footer > .comp-info {
    width: 100%;
  } */




















@media  only screen and (min-width: 460px)  {

/* display: none */

  .narrow-navbar {
    display: none;
  }

  header {
    height: 750px;
  }

  .navbar {
    display: block;
    display: flex;
    align-items: center;
    padding: 30px 60px;
  }

  .nav-logo {
    position: static;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu > .action-btn {
    padding: 10px 30px;
    cursor: pointer;
  }

  .nav-login  {
    display: flex;
  }

  .nav-login > .login-btn {
    padding: 10px 15px;
    cursor: pointer;
  }

  .wide-logo-txt  {
    font-size: 3.3rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    /* position: absolute;
    top: 280px;
    left: 130px; */
    font-family: 'Nanum Gothic', sans-serif;
  }

  .wide-nav-button  {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    /* position: absolute;
    top: 420px;
    left: 280px; */
  }

  .wide-nav-button > .nav-button  {
  padding: 15px 45px;
  color: black;
  background-color: #808080;
  cursor: pointer;
}

.scroll-down-anchor {
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 94%;
  color: white;
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
}


}
