body {
  height: 3240px;
}

/* title starts here */
.title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.title-wrapper {
  margin-bottom: 89px;
  width: 1240px;
  height: 254px;
  display: flex;
  justify-content: space-around;
}

  .title-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 3px solid #78BFEE;
  }

    .title-left > .real-title {
      width: 600px;
      height: 118px;
      font-size: 50px;
      font-family: "Georgia", sans-serif;
    }

    .title-left > .date {
      width: 150px;
      height: 16px;
      display: flex;
      margin-bottom: 24px;
    }

  .title-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

    .title-right > .description.one {
      width: 600px;
      height: 120px;
      padding: 20px;
      font-family: "Arial", sans-serif;
      font-size: 14px;
    }

    .title-right > .description.two {
      width: 600px;
      height: 89px;
      padding: 14px;
      font-family: "Georgia", sans-serif;
      font-style: italic;
      font-size: 20px;
    }
/* title ends here */

/* contents-1 starts here */
.content-1 {
  display: flex;
  justify-content: center;
}

.content-1.box {
  width: 65%;
  height: 140px;
  border: 3px solid #78BFEE;
  background-color: #F1F9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-1.txt {
  width: 60%;
  height: 143px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* content-1 ends here */

/* section #1 */
.data-processing-step {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .data-processing-step > .chart-sec {
    width: 50%;
    background-color: #3F3F3F;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #process-tile-map {
    width: 27rem;
    height: 27rem;
    background-color: #3F3F3F;
  }

  .data.txt {
    margin-top: 70px;
    width: 60%;
    height: 423px;
    color: #2699FB;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

/* section #2 */
.main-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainchart.txt {
  margin-top: 70px;
  width: 60%;
  height: 423px;
  color: #2699FB;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

  .main-chart > .chart-sec {
    height: 35rem;
    width: 60%;
    background-color: #3F3F3F;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #most-freq-chart {
    width: 34.5rem;
    height: 34.5rem;
  }

  .main-chart.box {
    width: 65%;
    height: 140px;
    border: 3px solid #78BFEE;
    background-color: #F1F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 89px;
  }

  .main-chart.txt {
    width: 600px;
    height: 143px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* section #3 */

  .full-data.txt {
    margin-top: 70px;
    width: 60%;
    height: 123px;
    text-align: center;
  }

.content-3-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .full-data-table {
    margin: 2.5rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .full-data-table > .description-sec {
      width: 100%;
      height: 5rem;
      font-size: 1.2rem;
      color: var(--pretty-black);
      border-bottom: solid 1px var(--gray);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data-table {
      width: 100%;
      font-family: var(--logo-font), sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

      .data-table > .data-row {
        width: 75%;
        margin-top: 1rem;
        /* border-bottom: dashed 1px var(--gray); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

        .data-row > .skill {
          width: 100%;
          color: var(--pretty-black);
          font-size: 1.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

          .skill > .rank {
            margin-left: 1.5rem;
            color: var(--main-red);
            font-size: 3rem;
            font-weight: bold;
          }

          .skill > .skill-name {
            font-size: 1.7rem;
          }

          .skill > .skill-count {
            margin-right: 1.5rem;
            padding: 0.1rem 0.3rem;
            background-color: var(--pretty-black);
            color: white;
            border-radius: 20px;
            border: solid 2px var(--pretty-black);
          }

        .data-row > .companies {
          margin: 1rem 0;
          width: 90%;
          display: flex;
          flex-wrap: wrap;
        }

          .companies > .comp {
            padding: 0.2rem;
            margin: 0.2rem;
            font-size: 0.75rem;
            color: var(--pretty-black);
            border: solid 2px #C4B07B;
            border-radius: 15px;
            cursor: pointer;
          }

          .companies > .comp:hover {
            color: white;
            background-color: #C4B07B;
          }

  .data-row-divider {
    width: 100%;
    height: 1px;
    background-color: white;
    border: dashed 1px var(--gray);
  }

  .load-more-btn {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    color: var(--dark-gray);
    cursor: pointer;
    text-align: center;
  }

  #topBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.3rem;
    color: var(--dark-gray);
    border: solid 1px var(--dark-gray);
    border-radius: 2px;
    cursor: pointer;
  }

  #topBtn:focus {
    outline: none;
  }

  .content-3.box {
    width: 65%;
    height: 140px;
    border: 3px solid #78BFEE;
    background-color: #F1F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
