.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  color: var(--gray);
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}

.back-btn:hover {
  color: var(--dark-gray);
}

.header {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--gray);
}

  .header > .title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .header > .description {
    font-size: 0.9rem;
    color: var(--dark-gray);
  }

/* section #1 */
.data-processing-step {
  margin-top: 2.5rem;
  width: 80%;
  height: 30rem;
  border: solid 1px var(--gray);
  border-radius: 5px;
  display: flex;
}

  .data-processing-step > .chart-sec {
    width: 50%;
    background-color: #3F3F3F;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #process-tile-map {
    width: 27rem;
    height: 27rem;
    background-color: #3F3F3F;
  }

  .data-processing-step > .description-sec {
    width: 50%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .description-sec > .desc {
      margin: 1rem 0;
    }

/* section #2 */
.main-chart {
  margin-top: 2.5rem;
  width: 80%;
  height: 40rem;
  border: solid 1px var(--gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .main-chart > .description-sec {
    height: 5rem;
    font-size: 1.2rem;
    color: #a8935e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-chart > .chart-sec {
    height: 35rem;
    width: 100%;
    background-color: #3F3F3F;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #most-freq-chart {
    width: 34.5rem;
    height: 34.5rem;
  }

/* section #3 */
.full-data-table {
  margin: 2.5rem 0;
  width: 80%;
  border: solid 1px var(--gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .full-data-table > .description-sec {
    width: 100%;
    height: 5rem;
    font-size: 1.2rem;
    color: var(--pretty-black);
    border-bottom: solid 1px var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .data-table {
    width: 100%;
    font-family: var(--logo-font), sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .data-table > .data-row {
      width: 75%;
      margin-top: 1rem;
      /* border-bottom: dashed 1px var(--gray); */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

      .data-row > .skill {
        width: 100%;
        color: var(--pretty-black);
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

        .skill > .rank {
          margin-left: 1.5rem;
          color: var(--main-red);
          font-size: 3rem;
          font-weight: bold;
        }

        .skill > .skill-name {
          font-size: 1.7rem;
        }

        .skill > .skill-count {
          margin-right: 1.5rem;
          padding: 0.1rem 0.3rem;
          background-color: var(--pretty-black);
          color: white;
          border-radius: 20px;
          border: solid 2px var(--pretty-black);
        }

      .data-row > .companies {
        margin: 1rem 0;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
      }

        .companies > .comp {
          padding: 0.2rem;
          margin: 0.2rem;
          font-size: 0.75rem;
          color: var(--pretty-black);
          border: solid 2px #C4B07B;
          border-radius: 15px;
          cursor: pointer;
        }

        .companies > .comp:hover {
          color: white;
          background-color: #C4B07B;
        }

.data-row-divider {
  width: 100%;
  height: 1px;
  background-color: white;
  border: dashed 1px var(--gray);
}

.load-more-btn {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  color: var(--dark-gray);
  cursor: pointer;
  text-align: center;
}

#topBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3rem;
  color: var(--dark-gray);
  border: solid 1px var(--dark-gray);
  border-radius: 2px;
  cursor: pointer;
}

#topBtn:focus {
  outline: none;
}

/* 반응현 코드 */

/* 공통된 반응현 코드 */
@media only screen and (max-width: 1200px) {
  .body {
    overflow-x: hidden;
  }

  .description {
    width: 90%;
  }

  .data-processing-step {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-processing-step > .chart-sec {
    width: 100%;
    border-radius: 0 0 0 0;
  }

  .data-processing-step > .description-sec {
    width: 100%;
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .data-processing-step {
    height: 45rem;
  }

  .data-processing-step > .description-sec {
    width: 90%;
  }

  .main-chart > .description-sec {
    width: 90%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .data-processing-step {
    height: 40rem;
  }

  .data-processing-step > .description-sec {
    width: 90%;
  }

  .main-chart {
    width: 100%;
  }

  .main-chart > .description-sec {
    width: 90%;
  }
}

@media only screen and (max-width: 401px) {
  .description {
    margin-top: 1rem;
    width: 80%;
  }

  .data-processing-step {
    width: 95%;
    height: 40rem;
  }

  .data-processing-step > .description-sec {
    width: 90%;
  }

  .main-chart {
    width: 110%;
    overflow-x: hidden;
  }

  .main-chart > .description-sec {
    width: 80%;
  }

  .full-data-table {
    width: 95%;
  }

  .full-data-table > .description-sec {
    width: 90%;
  }
}

/* 반응형 차트 코드 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  #process-tile-map {
    width: 30rem;
    height: 30rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  #process-tile-map {
    width: 25rem;
    height: 25rem;
  }

  #most-freq-chart {
    width: 30rem;
    height: 30rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  #process-tile-map {
    width: 20rem;
    height: 20rem;
  }

  #most-freq-chart {
    width: 30rem;
    height: 30rem;
  }
}

/* Small Size Styles */
@media only screen and (max-width: 401px) {
  #process-tile-map {
    width: 20rem;
    height: 20rem;
  }

  #most-freq-chart {
    width: 25rem;
    height: 25rem;
  }
}

@media only screen and (max-width: 300px) {
  #process-tile-map {
    width: 15rem;
    height: 15rem;
  }

  #most-freq-chart {
    width: 20rem;
    height: 20rem;
  }
}
