*:focus {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

body {
  height: 755px;
  width: auto;
}


.container-wrapper {
  display: flex;

  height: 100%;
}

/* 이거 어떻게 나눠야하는건지 모르겠음 height왜안생겨*/
.menu-container {
  display: flex;
  flex-direction: column;

  width: 10%;
}

  .item img{
    display: block;
    width: 25px;
    height: 25px;

    margin : 15px 0 0 20px;
    cursor: pointer;
  }


.template-container {
  /* background-color: blue; */
  height:100%;
  width: 45%;
  }

  .template-page {
    position: relative;
    display: flex;
    flex-direction: column;

    height: auto;
    width: auto;
    margin-left: 3%;
  }

    .title {
      margin-top: 15%;

      height: 30%;
      width: 100%;
      font-size: 1.5em;
    }

    .title > form > input {
    padding: 10px;
    background-color: transparent;
    border: 0px solid;
    height: 30px;
    width: 80%;
    color: var(--black);
    font-weight:bold;
}


    .contents {
      margin-top: 3%;
      /* border: 1px solid black; */
    }

    [contenteditable=true]:empty:before {
      content: attr(placeholder);
      display: block;
    }

    div[contenteditable=true] {
      padding: 10px;
      color: #333;
      font-size: 18px;
      width:300px;
      padding: 5px;

      width: 80%;
    }


.assist-container {
  width: 45%;

}

  .assist-container-wrapper {
    /* position: relative; */
    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
  }

  .assist-name {
    margin-top: 15%;

    border-bottom: 1.5px solid #F6F7F9;
    padding: 10px;
    font-size: 1.5em;
  }

  .assist-description {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 0.8em;
  }

  .assist-list {
    margin-top: 7%;
  }

    .assist-list li {
      margin-left: -4%;
      list-style-type: none;
      margin-bottom: 5%;
      padding: 10px 40px 10px 20px;
      margin-right: 10px;

      border-radius: 5px;
      cursor: pointer;
      color:grey;
    }

    .assist-list li:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /*Mobile Styles*/
    @media only screen and (max-width: 800px) {

      .container-wrapper {
        display: flex;
        flex-direction: column;
        /* background-color: purple; */
      }

      .menu-container {
        position: absolute;
        height: 5rem;
        width: 100%;
        /* background-color: blue; */
        margin-top: 1rem;
      }

      .menu-icon {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
      }

      .template-container {
        position: absolute;
        top: 5rem;

        /* background-color: red; */
        height: 20rem;
        width: 100%;
        overflow-y: scroll;
        border-bottom: 1px solid grey;
      }

      .assist-container {
        /* background-color: pink; */
        position: absolute;
        top: 25rem;
        width: 100%;
        height: 20rem;
        overflow-y: scroll;
      }

      .assist-name,
      .assist-description {
        display: none;
      }
/*
      .assist-list {
        width: 50%;
      } */

    }
