* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
    outline: none;
}


body {
  height: 2500px;
  width: auto;
}


.container-wrapper {
  display: flex;
  height: 100%;
}

/* 이거 어떻게 나눠야하는건지 모르겠음 height왜안생겨*/
.menu-container {
  display: flex;
  flex-direction: column;

  width: 10%;
  /* background-color: var(--main-green) */
}

  .item img{
    display: block;
    width: 25px;
    height: 25px;
    margin : 15px 0 0 20px;
    cursor: pointer;
  }

  .sentence-structure {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #F6F7F9;
    width:15%;
  }

.template-container {
  /* background-color: blue; */
  height:100%;
  width: 55%;
  /* background-color: var(--main-purple) */
  }

  .template-page {
    position: relative;
    display: flex;
    flex-direction: column;

    height: auto;
    width: auto;
    margin-left: 3%;
  }

    .title {
      margin-top: 15%;

      height: 30%;
      width: 100%;
      font-size: 1.5em;
    }

    .title > form > input {
    padding: 10px;
    background-color: transparent;
    border: 0px solid;
    height: 30px;
    width: 80%;
    color: var(--black);
    font-weight:bold;
}


    .contents {
      margin-top: 3%;
      /* border: 1px solid black; */
    }

    [contenteditable=true]:empty:before {
      content: attr(placeholder);
      display: block;
    }

    div[contenteditable=true] {
      padding: 10px;
      color: #333;
      font-size: 18px;
      width:300px;
      padding: 5px;

      width: 80%;
    }


.assist-container {
  width: 40%;

}

  .assist-container-wrapper {
    /* position: relative; */
    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
  }

  .assist-name {
    margin-top: 15%;

    border-bottom: 1.5px solid #F6F7F9;
    padding: 10px;
    font-size: 1.5em;
  }

  .assist-header {
    width: 100%;
    margin-top: 5%;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: var(--main-green); */
  }
  .assist-header > .assist-description {
    margin: 0 0.2rem;
    margin-right: 1.5rem;
  }

  .assist-header > .avocado-btn-flipped {
    padding: 0.3rem 0.6rem;
    margin: 0 0.2rem;
    font-size: 15px;
  }
  .assist-list {
    margin-top: 7%;
  }

    .assist-list li {
      margin-left: -4%;
      list-style-type: none;
      margin-bottom: 5%;
      padding: 10px 40px 10px 20px;
      margin-right: 10px;

      border-radius: 5px;
      cursor: pointer;
      color:grey;
    }

    .assist-list li:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .assist-list li:visited {

    }

    .accordion > .card {
      background-color: var(--very-light-gray);
    }

    .card > .card-header {
      padding: 0.5rem;
      margin: 0 0;
      background-color: white;
    }
      .card > .mb-0 {
        padding: 0.5rem;
        margin: 0 0;
        color: var(--pretty-black);
      }
      .card-header > .btn.btn-link {
        padding: 0 0;
        width: 40px;
        color: var(--pretty-black);
      }
