/* Content-1 CSS starts here */
.content-1 {
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content-1 > .table {
  position: relative;
  margin-top: 7rem;
}
  .table > .table-name{
    width: 100%;
    position: absolute;
    font-size: 1.5rem;
    top: -4rem;
    left: 0;
    border-bottom: 1px solid var(--gray);
  }
  .put-btn,
  .delete-btn {
    border: solid 1px #BDBDBD;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    padding: 0.2rem;
    margin: 0 0.2rem;
  }
  /* responsive web design start */
  .media-table {
    width: 70%;
    border: 1px solid var(--dark-gray);
    border-radius: 15px;
  }
  .media-table > .media-table-row {
    position: relative;
    padding: 0.7rem;
    border-bottom: 1px solid var(--dark-gray);
  }
  .media-table-row > .media-table-manipulation {
    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;
  }
  .media-table-row:last-child {
    border-bottom: 0px solid var(--dark-gray);
  }
  /* responsive web design end */

.footer {
  background-color: #efefef;
}

  .far {
    cursor: pointer;
  }

  .far:hover {
    color: var(--btn-green);
  }

/*Mobile Styles*/
@media only screen and (max-width: 960px) {
  .table-col.table-col-40.del {
    display: none;
  }

  .table-col.table-col-30 {
    width: 70%;
  }

}
