<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도</title>
    <link rel="icon" href="./assets/img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="./assets/css/coverletter.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="body">

      <div class="navbar">
        <div class="navbar-logo">VeggieAvocado</div>
        <div class="navbar-login">
          <div class="account-btn">
            <!-- <img src="http://mblogthumb2.phinf.naver.net/20150427_261/ninevincent_1430122791768m7oO1_JPEG/kakao_1.jpg?type=w2" class="account-img"> -->
            Philp Park
            <ul class="account-dropdown">
              <li class="list-first">내 문서관리</li>
              <li>최근작성문서 3</li>
              <li>최근작성문서 2</li>
              <li class="list-last">최근작성문서 1</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="content-1">
        <div class="design-fonts">
          <div class="menu-change">
            <button type="button" class="avocado-btn">design</button>
            <button type="button" class="avocado-btn-flipped">fonts</button>
          </div>
          <div class="coverleter-design">
            coverleter design
          </div>
          <!-- <div class="coverleter-fonts">
            coverleter fonts
          </div> -->
        </div>

        <div class="template-preview">
          <div class="template-border">
            <div class="template-element first">
              <h1>Philp Park</h1>
              <p class="address">Hoigi-dong Dongdaemun-gu Seoul</p>
              <p>phone)&nbsp;	010-9999-9999 &nbsp;|&nbsp; email)&nbsp; ppark@gmail.com</p>
            </div>

            <div class="template-element">
              <p>Dear [Ms. or Mr. Last Name],</p>

              As a seasoned professional with [Number]+ years in project management,
              I am confident that the skills and experience <br> I bring to the table are a perfect match for the [Position] at [Company Name].
              With my proven history of helping companies streamline processes, improve efficiencies and complete projects under budget,
              I'm ready to hit the ground running and make a major contribution right away. <br>
              Throughout my career in the [industry] field, I have led diverse teams to achieve organizational goals and meet aggressive project deadlines on time and under budget.
              </br>
              </br>
              <p class="key-skill">Key achievements and skills include:</p>

              <li>Leadership: Directed a team of [Number] through all stages of deadline-driven projects.</li>
              <li>Budget Management: Managed budgets of up to $ [Amount], and worked with multiple teams and stakeholders to achieve objectives on-time and within budget.</li>
              <li>Communication Skills: Communicated closely with clients and staff to set goals, get feedback, and build productive teams.</li>


            </div>

          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-menu">
          <div class="menu-btns">
            <div class="footer-btn">문의하기</div>
            <div class="footer-btn">서비스소개</div>
            <div class="footer-btn">개인정보처리방침</div>
            <div class="footer-btn">이용약관</div>
          </div>
          <div class="menu-sns">
            <div class="sns-btn naver-btn"></div>
            <div class="sns-btn brunch-btn"></div>
            <div class="sns-btn github-btn"></div>
          </div>
        </div>
        <div class="comp-info">
          <div class="logo">VeggieAvocado</div>
          <div class="info">
            <p>주소</p>
            <p>대표자: 우혜민, 사업자등록번호, 전화, 이메일</p>
            <p>2018 VEGGIE AVOCADO Co. Ltd. All Rights Preserved.</p>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
