<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도 템플릿</title>
    <link rel="icon" href="img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="common/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="common/customer.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Gothic+A1|Ubuntu" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="nav-introduction">
      <div class="navbar-logo"><a href="/home">VeggieAvocado</a></div>
      <div class="home"><a href="/home">Home</a></div>
    </div>

    <div class="customer-title">
      <h1><b>Customer</b></h1><br>
      <p><strong>사용중 불편한 점이 있다면 알려주세요</strong></p>
    </div>

    <div class="content-1">
      <div class="text-wrapper">
        <div class="txt email">
          <p>이메일</p>
          <form class="customer" action="index.html" method="post">
            <input type="text" name="title" value="">
          </form>
        </div>
        <div class="txt title">
          <p>제목</p>
          <form class="customer" action="index.html" method="post">
            <input type="text" name="title" value="">
          </form>
        </div>
        <div class="txt content">
          <p>내용</p>
          <textarea name="name" rows="8" cols="80"></textarea>
        </div>
        <div class="submit-btn">
          <button type="button" name="button">전송하기</button>
        </div>
      </div>

    </div>



  </body>
