<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도</title>
    <link rel="icon" href="./assets/img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="./assets/css/gradschool.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Gothic+A1|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="body">

      <div class="navbar">

        <div class="navbar-logo">VeggieAvocado</div>
        <div class="navbar-action">
          <div class="action-btn template">
            <div class="action-btn-text">
              잡템플릿
            </div>
            <!-- <ul class="template-dropdown">
              <li class="list-first"><a href="./editdoc.html">이력서</a></li>
              <li>커버레터</li>
              <li class="list-last">모의면접</li>
            </ul> -->
          </div>
          <div class="action-btn matching">
            <div class="action-btn-text">
              잡매칭
            </div>
            <!-- <ul class="template-dropdown">
              <li class="list-first">회사/직무</li>
              <li class="list-last">1:1 잡매칭</li>
            </ul> -->
          </div>
          <div class="action-btn sop">
            <div class="action-btn-text">
              SOP/컨설팅
            </div>
            <!-- <ul class="template-dropdown">
              <li class="list-first">대학원리스트</li>
              <li>SOP첨삭</li>
              <li class="list-last">합격자소서</li>
            </ul> -->
          </div>
        </div>

        <div class="navbar-login">
          <div class="account-btn">
            <!-- <img src="http://mblogthumb2.phinf.naver.net/20150427_261/ninevincent_1430122791768m7oO1_JPEG/kakao_1.jpg?type=w2" class="account-img"> -->
            Philp Park
            <ul class="account-dropdown">
              <li class="list-first">내 문서관리</li>
              <li>최근작성문서 3</li>
              <li>최근작성문서 2</li>
              <li class="list-last">최근작성문서 1</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="content-manipulation">
        <div class="cm-filter">
          <button type="button" name="cm-degree" class="avocado-btn-flipped">구분</button>
          <button type="button" name="cm-location" class="avocado-btn-flipped">지역</button>
          <button type="button" name="cm-major" class="avocado-btn-flipped">전공</button>
        </div>
        <div class="cm-sort">
          <input class="avocado-input" type="text" name="search" placeholder="search">
          <button type="button" name="cm-sort" class="avocado-btn">정렬</button>
        </div>
      </div>
      <div class="content-1">

        <div class="grad-content-1">

          <div class="grad-list">
            <div class="grad-img"><img src="./assets/img/brown.png"></div>
            <div class="grad-info">
              <p>전형구분: 석/박사</p>
              <p>전형기간: 2018. 6.12 ~ 6.18</p>
            </div>
            <div class="avocado-btn">합격자소서 보기</div>
          </div>

          <div class="grad-list">
            <div class="grad-img"><img src="./assets/img/Columbia.png"></div>
            <div class="grad-info">
              <p>전형구분: 석/박사</p>
              <p>전형기간: 2018. 6.12 ~ 6.18</p>
            </div>
            <div class="avocado-btn">합격자소서 보기</div>
          </div>

          <div class="grad-list">
            <div class="grad-img"><img src="./assets/img/Cornell.png"></div>
            <div class="grad-info">
              <p>전형구분: 석/박사</p>
              <p>전형기간: 2018. 6.12 ~ 6.18</p>
            </div>
            <div class="avocado-btn">합격자소서 보기</div>
          </div>

        </div>

        <div class="grad-content-2">

          <div class="grad-list">
            <div class="grad-img"><img src="./assets/img/Harvard.png"></div>
            <div class="grad-info">
              <p>전형구분: 석/박사</p>
              <p>전형기간: 2018. 6.12 ~ 6.18</p>
            </div>
            <div class="avocado-btn">합격자소서 보기</div>
          </div>

          <div class="grad-list">
            <div class="grad-img"><img src="./assets/img/Princeton.png"></div>
            <div class="grad-info">
              <p>전형구분: 석/박사</p>
              <p>전형기간: 2018. 6.12 ~ 6.18</p>
            </div>
            <div class="avocado-btn">합격자소서 보기</div>
          </div>

          <div class="grad-list">
            <div class="grad-img"><img src="./assets/img/Yale.png"></div>
            <div class="grad-info">
              <p>전형구분: 석/박사</p>
              <p>전형기간: 2018. 6.12 ~ 6.18</p>
            </div>
            <div class="avocado-btn">합격자소서 보기</div>
          </div>

        </div>

        <div class="pagination">

          <div class="page-prev">
            <div class="page-btn">
              <a href="#"><i class="fas fa-angle-double-left"></i></a>
            </div>
            <div class="page-btn">
              <a href="#"><i class="fas fa-angle-left"></i>&nbsp;이전</a>
            </div>
          </div>
          <div class="page-next">
            <div class="page-btn">
              <a href="#">다음&nbsp;<i class="fas fa-angle-right"></i></a>
            </div>
            <div class="page-btn">
              <a href="#"><i class="fas fa-angle-double-right"></i></a>
            </div>
          </div>

        </div>

      </div>
      <div class="footer">
        <div class="footer-menu">
          <div class="menu-btns">
            <div class="footer-btn">문의하기</div>
            <div class="footer-btn">서비스소개</div>
            <div class="footer-btn">개인정보처리방침</div>
            <div class="footer-btn">이용약관</div>
          </div>
          <div class="menu-sns">
            <div class="sns-btn naver-btn"></div>
            <div class="sns-btn brunch-btn"></div>
            <div class="sns-btn github-btn"></div>
          </div>
        </div>
        <div class="comp-info">
          <div class="logo">VeggieAvocado</div>
          <div class="info">
            <p>주소</p>
            <p>대표자: 우혜민, 사업자등록번호, 전화, 이메일</p>
            <p>2018 VEGGIE AVOCADO Co. Ltd. All Rights Preserved.</p>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
