<!DOCTYPE html>
<html lang="kr">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <title>베지아보카도</title>
      <link rel="icon" href="./assets/img/avocado.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">
      <link rel="stylesheet" href="./assets/css/home.css" type="text/css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Gothic+A1|Ubuntu" rel="stylesheet">

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>

    <body>

      <div class="body">

        <div class="navbar">
          <div class="navbar-logo"><a href="./home.html">VeggieAvocado</a></div>
          <div class="navbar-action">
            <div class="action-btn template">
              <div class="action-btn-text">
                잡템플릿
              </div>
              <ul class="template-dropdown">
                <li class="list-first"><a href="./editdoc.html">이력서</a></li>
                <li>커버레터</li>
                <li class="list-last">모의면접</li>
              </ul>
            </div>
            <div class="action-btn matching">
              <div class="action-btn-text">
                잡매칭
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first">회사/직무</li>
                <li class="list-last">1:1 잡매칭</li>
              </ul> -->
            </div>
            <div class="action-btn sop">
              <div class="action-btn-text">
                SOP/컨설팅
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first">대학원리스트</li>
                <li>SOP첨삭</li>
                <li class="list-last">합격자소서</li>
              </ul> -->
            </div>
          </div>
          <div class="navbar-login">
            <button class="login-btn"><a href="./login.html">로그인/회원가입</a></button>
          </div>
        </div>

        <div class="content-1">
          <div class="content-img"></div>
          <div class="content-txt">
            <h4>영어를 배우지 않고 쉽게 사용하세요</h4>
            <button class="look-btn" type="button" name="button">둘러보기</button>
          </div>
        </div>


        <div class="content-2">
          <div class="blank-space"></div>
          <div class="content-container">
            <div class="popular-act">대학원 자소서</div>
            <div class="popular-act"><a href="./editdoc.html">이력서</a></div>
            <div class="popular-act">Cover Letter</div>
            <div class="popular-act">예상면접질문</div>
          </div>
          <div class="blank-space"></div>
        </div>

        <div class="content-3">
          <div class="veggie">
            <div class="veggie-main">
              <div class="veggie-main-txt">
                새로운 기회를 찾아보세요
              </div>
              <div class="veggie-main-imgbox">
                <div class="veggie-main-imgbox-img-1"></div>
                <div class="veggie-main-imgbox-text">
                  <div class="veggie-main-imgbox-txt-1">
                    <h5>아보카도 시작하기</h5>
                  </div>
                  <div class="veggie-main-imgbox-txt-2">
                    <h7>베지아보카도의 서비스를 탐험해 보세요</h7>
                  </div>
                </div>

              </div>
            </div>
            <div class="veggie-main">
              <div class="veggie-main-txt">
                   블로그
                <h6 class="veiw-more-btn">
                  더보기
                </h6>
              </div>
              <div class="veggie-main-imgbox">
                <div class="veggie-main-imgbox-img-2"></div>
                <div class="veggie-main-imgbox-text">
                  <div class="veggie-main-imgbox-txt-1">
                    <h5>베지아보카도 블로그 바로가기</h5>
                  </div>
                  <div class="veggie-main-imgbox-txt-2">
                    <h7>[스타트업 개발일지]를 만나보세요!</h7>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      <div class="content-4-wrapper">
        <div class="content-4">
          <h4 class="recommend-txt">
            회사직무 or 학교 리스트
          </h4>
          <div class="recommend-box">
            <div class="recommend-imgbox">
              <div class="recommend-imgbox-img first"></div>
              <div class="recommend-imgbox-txt">대학교 one</div>
            </div>
            <div class="recommend-imgbox">
              <div class="recommend-imgbox-img second"></div>
              <div class="recommend-imgbox-txt">대학교 two</div>
            </div>
            <div class="recommend-imgbox">
              <div class="recommend-imgbox-img third"></div>
              <div class="recommend-imgbox-txt">대학교 three</div>
            </div>
            <div class="recommend-imgbox">
              <div class="recommend-imgbox-img fourth"></div>
              <div class="recommend-imgbox-txt">대학교 four</div>
            </div>
          </div>
        </div>
      </div>
    <div class="content-5-wrapper">
      <div class="content-5">
        <h4 class="partner-text">Partners</h4>
        <div class="partner-box-wrapper">
          <div class="partner-box">
            <div class="partner-img first"></div>
          </div>
          <div class="partner-box">
            <div class="partner-img second"></div>
          </div>
        </div>
      </div>
    </div>
        <div class="footer">
          <div class="footer-menu">
            <div class="menu-btns">
              <div class="footer-btn">문의하기</div>
              <div class="footer-btn">서비스소개</div>
              <div class="footer-btn">개인정보처리방침</div>
              <div class="footer-btn">이용약관</div>
            </div>
            <div class="menu-sns">
              <div class="sns-btn naver-btn"></div>
              <div class="sns-btn brunch-btn"></div>
              <div class="sns-btn github-btn"></div>
            </div>
          </div>
          <div class="comp-info">
            <div class="logo">VeggieAvocado</div>
            <div class="info">
              <p>주소</p>
              <p>대표자: 우혜민, 사업자등록번호, 전화, 이메일</p>
              <p>2018 VEGGIE AVOCADO Co. Ltd. All Rights Preserved.</p>
            </div>
          </div>
        </div>

      </div>

    </body>

</html>
