<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도 템플릿</title>
    <link rel="icon" href="img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="common/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="common/introduction.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Gothic+A1|Ubuntu" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  </body>

  <div class="nav-introduction">
    <div class="logo">베지아보카도</div>
    <div class="home"><a href="/home">Home</a></div>
  </div>

  <div class="content-1">
    <div class="content-img one"></div>
    <div class="content-txt one">
      <p>영문 텍스트 분석</p>
    </div>
    <div class="content-txt two">
      <p>영어, 꼭 필요하지만 어렵습니다.<br>
        내가 필요한 부분만 쏙쏙 골라<br>
        빠르게 사용할 수 있을까요?<br>
      </p>
    </div>
  </div>

  <div class="content-2">
    <div class="content-img two"></div>
    <div class="content-txt one">
      <p>비즈니스 이메일</p>
    </div>
    <div class="content-txt two">
      <p>영문 비즈니스 이메일을<br>
        쉽고, 빠르게 작성할 수 있도록<br>
        최상의 솔루션 제공
      </p>
    </div>
  </div>

  <div class="content-3">
    <div class="content-img three"></div>
    <div class="content-txt one">
      <p>프레젠테이션</p>
    </div>
    <div class="content-txt two">
      <p>영어 프레젠테이션이<br>
        어렵게 느껴진다면<br>
        스크립트를 사용해보세요
      </p>
    </div>
  </div>

  <div class="content-4">
    <div class="content-img four"></div>
    <div class="content-txt one">
      <p>레쥬메</p>
    </div>
    <div class="content-txt two">
      <p>영어 레쥬메,<br>
        어떻게 쓸지 모르겠다구요?<br>
        Resume Builder와 함께하세요
      </p>
    </div>
  </div>
