<!DOCTYPE html>
<html lang="kr">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <title>베지아보카도</title>
      <link rel="icon" href="img/avocado.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="common/style.css" type="text/css" media="all">
      <link rel="stylesheet" href="common/mydoc.css" type="text/css" media="all">
      <link rel="stylesheet" href="common/table.css" type="text/css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>

    <body>

      <div class="body">

        <div class="navbar">
          <div class="navbar-logo"><a href="/home">VeggieAvocado</a></div>
          <div class="navbar-action">
            <div class="action-btn template">
              <div class="action-btn-text">
                잡템플릿
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first"><a href="./editdoc.html">이력서</a></li>
                <li>커버레터</li>
                <li class="list-last">모의면접</li>
              </ul> -->
            </div>
            <div class="action-btn matching">
              <div class="action-btn-text">
                잡매칭
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first">회사/직무리스트</li>
                <li class="list-last">1:1 잡매칭</li>
              </ul> -->
            </div>
            <div class="action-btn sop">
              <div class="action-btn-text">
                SOP/컨설팅
              </div>
              <!-- <ul class="template-dropdown">
                <li class="list-first">대학원리스트</li>
                <li>SOP첨삭</li>
                <li class="list-last">합격자소서</li>
              </ul> -->
            </div>
          </div>
          <div class="navbar-login">
            <div class="account-btn">
              <!-- <img src="http://mblogthumb2.phinf.naver.net/20150427_261/ninevincent_1430122791768m7oO1_JPEG/kakao_1.jpg?type=w2" class="account-img"> -->
              Philp Park
              <ul class="account-dropdown">
                <li class="list-first">내 문서관리</li>
                <li>최근작성문서 3</li>
                <li>최근작성문서 2</li>
                <li class="list-last">최근작성문서 1</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content-1">
          <div class="table">
            <div class="table-name">
              PPT
            </div>
            <div class="table-content">
              <div class="table-header">
                <div class="table-col table-col-30">id</div>
                <div class="table-col table-col-30">제목</div>
                <div class="table-col table-col-40">작성일</div>
                <div class="table-col table-col-40">수정일</div>
                <div class="table-col table-col-40"></div>
              </div>
              <div class="table-data">
                <div class="table-data-row">
                  <div class="table-col table-col-30">01</div>
                  <div class="table-col table-col-30">speak&nbsp;like&nbsp;ted</div>
                  <div class="table-col table-col-40">2018-07-21&nbsp;21:00</div>
                  <div class="table-col table-col-40">2018-07-21&nbsp;23:00</div>
                  <div class="table-col table-col-40">
                    <button class="put-btn" type="button" name="button">edit</button>
                    <button class="delete-btn" type="button" name="button">delete</button>
                  </div>
                </div>
                <div class="table-data-row">
                  <div class="table-col table-col-30">02</div>
                  <div class="table-col table-col-30">영어&nbsp;PPT</div>
                  <div class="table-col table-col-40">2018-08-08&nbsp;21:00</div>
                  <div class="table-col table-col-40">2018-08-11&nbsp;23:00</div>
                  <div class="table-col table-col-40">
                    <button class="put-btn" type="button" name="button">edit</button>
                    <button class="delete-btn" type="button" name="button">delete</button>
                  </div>
                </div>
                <div class="table-data-row">
                  <div class="table-col table-col-30">03</div>
                  <div class="table-col table-col-30">Business&nbsp;PPT</div>
                  <div class="table-col table-col-40">2018-08-18&nbsp;21:00</div>
                  <div class="table-col table-col-40">2018-08-19&nbsp;23:00</div>
                  <div class="table-col table-col-40">
                    <button class="put-btn" type="button" name="button">edit</button>
                    <button class="delete-btn" type="button" name="button">delete</button>
                  </div>
                </div>
                <div class="table-data-row">
                  <div class="table-col table-col-30">04</div>
                  <div class="table-col table-col-30">스티브잡스&nbsp;연설</div>
                  <div class="table-col table-col-40">2018-08-18&nbsp;21:00</div>
                  <div class="table-col table-col-40">2018-08-19&nbsp;23:00</div>
                  <div class="table-col table-col-40">
                    <button class="put-btn" type="button" name="button">edit</button>
                    <button class="delete-btn" type="button" name="button">delete</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="paginator">
              <div class="paginator-btns">
                <div class="arrow-btn"><i class="fas fa-angle-double-left"></i></div>
                <div class="arrow-btn"><i class="fas fa-angle-left"></i></div>
                <div class="page-btn">1</div>
                <div class="page-btn">2</div>
                <div class="active page-btn">3</div>
                <div class="page-btn">4</div>
                <div class="page-btn">5</div>
                <div class="arrow-btn"><i class="fas fa-angle-right"></i></div>
                <div class="arrow-btn"><i class="fas fa-angle-double-right"></i></div>
              </div>
            </div>
          </div>

          <!-- responsive web design -->
          <div class="media-table">
            <div class="media-table-row">
              <div class="media-table-subject">speak&nbsp;like&nbsp;ted</div>
              <div class="media-table-created">2018-07-21&nbsp;21:00</div>
              <div class="media-table-updated">2018-07-21&nbsp;23:00</div>
              <div class="media-table-manipulation">
                <button class="put-btn" type="button" name="button">edit</button>
                <button class="delete-btn" type="button" name="button">delete</button>
              </div>
            </div>
            <div class="media-table-row">
              <div class="media-table-subject">Business&nbsp;PPT</div>
              <div class="media-table-created">2018-07-21&nbsp;21:00</div>
              <div class="media-table-updated">2018-07-21&nbsp;23:00</div>
              <div class="media-table-manipulation">
                <button class="put-btn" type="button" name="button">edit</button>
                <button class="delete-btn" type="button" name="button">delete</button>
              </div>
            </div>
            <div class="media-table-row">
              <div class="media-table-subject">영어&nbsp;PPT</div>
              <div class="media-table-created">2018-07-21&nbsp;21:00</div>
              <div class="media-table-updated">2018-07-21&nbsp;23:00</div>
              <div class="media-table-manipulation">
                <button class="put-btn" type="button" name="button">edit</button>
                <button class="delete-btn" type="button" name="button">delete</button>
              </div>
            </div>
            <div class="media-table-row">
              <div class="media-table-subject">스티브잡스&nbsp;연설</div>
              <div class="media-table-created">2018-07-21&nbsp;21:00</div>
              <div class="media-table-updated">2018-07-21&nbsp;23:00</div>
              <div class="media-table-manipulation">
                <button class="put-btn" type="button" name="button">edit</button>
                <button class="delete-btn" type="button" name="button">delete</button>
              </div>
            </div>
          </div>

        </div>

        <div class="footer">
          <div class="footer-menu">
            <div class="menu-btns">
              <div class="footer-btn">문의하기</div>
              <div class="footer-btn">서비스소개</div>
              <div class="footer-btn">개인정보처리방침</div>
              <div class="footer-btn">이용약관</div>
            </div>
            <div class="menu-sns">
              <div class="sns-btn naver-btn"></div>
              <div class="sns-btn brunch-btn"></div>
              <div class="sns-btn github-btn"></div>
            </div>
          </div>
          <div class="comp-info">
            <div class="logo">VeggieAvocado</div>
            <div class="info">
              <p>주소</p>
              <p>대표자: 우혜민, 사업자등록번호, 전화, 이메일</p>
              <p>2018 VEGGIE AVOCADO Co. Ltd. All Rights Preserved.</p>
            </div>
          </div>
        </div>

      </div>

    </body>

</html>
