<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/pptselect.css">
  </head>
  <body>
    <div class="ppt-select-title">
      <h2>원하는 PPT 카테고리를 선택하세요</h2>
    </div>
    <div class="title-container">
      <div class="ppt-select-box">
        <div class="item">
          <div class="card">
            <img src="img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>

          </div>
        </div>
        <div class="item">
          <div class="item-text">
            템플릿 2
          </div>
        </div>
        <div class="item">
          <div class="item-text">
            템플릿 3
          </div>
        </div>
        <div class="item">
          <div class="item-text">
            템플릿 4
          </div>
        </div>
        <div class="item">
          <div class="item-text">
            템플릿 5
          </div>
        </div>
        <div class="item">
          <div class="item-text">
            템플릿 6
          </div>
        </div>


      </div>
    </div>
  </body>
</html>
