<!DOCTYPE html>
<html lang="kr">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <title>베지아보카도</title>
      <link rel="icon" href="./assets/img/avocado.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">
      <link rel="stylesheet" href="./assets/css/realtimeedit.css" type="text/css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>

    <body>

      <div class="body">

        <div class="content-1">

          <div class="template-preview">
            <div class="template-border">
              <div class="manage-zoom">

                <div class="zoom-txt">Zoom</div>
                <div class="zoom-plus">
                  <i class="fas fa-search-plus"></i>
                </div>
                <div class="zoom-minus">
                  <i class="fas fa-search-minus"></i>
                </div>

              </div>
              <div class="template-element first">
                <h1>Philp Park</h1>
                <p class="address">Hoigi-dong Dongdaemun-gu Seoul</p>
                <p>phone)&nbsp;	010-9999-9999 &nbsp;|&nbsp; email)&nbsp; ppark@gmail.com</p>
              </div>

              <div class="template-element">
                <p>Dear [Ms. or Mr. Last Name],</p>

                As a seasoned professional with [Number]+ years in project management,
                I am confident that the skills and experience <br> I bring to the table are a perfect match for the [Position] at [Company Name].
                With my proven history of helping companies streamline processes, improve efficiencies and complete projects under budget,
                I'm ready to hit the ground running and make a major contribution right away. <br>
                Throughout my career in the [industry] field, I have led diverse teams to achieve organizational goals and meet aggressive project deadlines on time and under budget.
                </br>
                </br>
                <p class="key-skill">Key achievements and skills include:</p>

                <li>Leadership: Directed a team of [Number] through all stages of deadline-driven projects.</li>
                <li>Budget Management: Managed budgets of up to $ [Amount], and worked with multiple teams and stakeholders to achieve objectives on-time and within budget.</li>
                <li>Communication Skills: Communicated closely with clients and staff to set goals, get feedback, and build productive teams.</li>


              </div>

            </div>
          </div>

          <div class="google-docs">
            <iframe src="https://docs.google.com/document/d/1kPRkRyVLMifsRqH-FC_8XhiVXsJ7wXW7XVsmiqOdPCU/edit?usp=sharing"></iframe>
          </div>

        </div>


        <div class="content-2">

          <div class="manage-btn">
            <div class="avocado-btn">글자크기</div>
            <div class="avocado-btn">번역</div>
            <div class="avocado-btn">도움말</div>
            <div class="avocado-btn">나가기</div>
          </div>

        </div>

      </div>

    </body>

</html>
