<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도</title>
    <link rel="icon" href="./assets/img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/table.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Gothic+A1|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="table">
      <div class="table-content">
        <div class="table-header">
          <div class="table-col table-col-30">개발자</div>
          <div class="table-col table-col-30">부서</div>
          <div class="table-col table-col-40">태스크 관리</div>
        </div>
        <div class="table-data">
          <div class="table-data-row">
            <div class="table-col table-col-30">피피</div>
            <div class="table-col table-col-30">데브옵스</div>
            <div class="table-col table-col-40">
              <button class="table-btn" type="button" name="button">태스크 확인</button>
              <button class="table-btn" type="button" name="button">태스크 부여</button>
            </div>
          </div>
          <div class="table-data-row">
            <div class="table-col table-col-30">할리</div>
            <div class="table-col table-col-30">데브옵스</div>
            <div class="table-col table-col-40">
              <button class="table-btn" type="button" name="button">태스크 확인</button>
              <button class="table-btn" type="button" name="button">태스크 부여</button>
            </div>
          </div>
        </div>
      </div>
      <div class="paginator">
        <div class="paginator-btns">
          <div class="arrow-btn"><i class="fas fa-angle-double-left"></i></div>
          <div class="arrow-btn"><i class="fas fa-angle-left"></i></div>
          <div class="page-btn">1</div>
          <div class="page-btn">2</div>
          <div class="active page-btn">3</div>
          <div class="page-btn">4</div>
          <div class="page-btn">5</div>
          <div class="arrow-btn"><i class="fas fa-angle-right"></i></div>
          <div class="arrow-btn"><i class="fas fa-angle-double-right"></i></div>
        </div>
      </div>
    </div>

  </body>
</html>
