<!DOCTYPE html>
<!-- http://jsfiddle.net/SpaceDog/zDSeR/ -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도</title>
    <link rel="icon" href="img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="common/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="common/navbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/production/data.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/sparkline.js"></script>

    <script type="text/javascript">
    $(function() {
      var myvalues1 = [10, 8, 5, 7, 4, 4, 1, 2, 4, 3, 4, 6, 7, 4, 12, 23];
      var myvalues2 = [34, 24, 26, 27, 25, 34, 35, 36, 19, 18, 17, 24, 25];
      var myvalues3 = [45, 45, 45, 42, 40, 47, 49, 50, 37, 36, 35, 34, 33];
      var myvalues4 = [34, 24, 26, 27, 25, 34, 35, 50, 37, 36, 35, 34, 33];
      var myvalues5 = [34, 24, 26, 27, 4, 4, 1, 2, 4, 3, 4, 6, 18, 17, 24, 25];

      $('.dynamicsparkline1').sparkline(myvalues1, {
        type: 'line',
        barColor: 'green',
        width: '200px',
        height: '40px',
        fillColor: '#fcfcfc',
        lineColor: '#bcbcbc',
        spotColor: '#FF385A', // 차트 맨 마지막에 찍히는 점 색
        spotRadius: '2',
        minSpotColor: '#ffbb35',
        maxSpotColor: '#ffbb35',
        highlightSpotColor: '#777777', // 라인 차트 위에 있는 데이터점
        highlightLineColor: 'white', // 마우스 호버할 때 생기는 수직선
        // highlightLineColor: '#D1D1D1',
        lineWidth: '1.3',
        disableTooltips: 'true',
      });

      $('.dynamicsparkline2').sparkline(myvalues2, {
        type: 'line',
        barColor: 'green',
        width: '200px',
        height: '40px',
        fillColor: '#fcfcfc',
        lineColor: '#bcbcbc',
        spotColor: '#FF385A',
        spotRadius: '2',
        minSpotColor: '#ffbb35',
        maxSpotColor: '#ffbb35',
        highlightSpotColor: '#777777', // 라인 차트 위에 있는 데이터점
        highlightLineColor: 'white', // 마우스 호버할 때 생기는 수직선
        // highlightLineColor: '#D1D1D1',
        lineWidth: '1.3',
        disableTooltips: 'true',
      });

      $('.dynamicsparkline3').sparkline(myvalues3, {
        type: 'line',
        barColor: 'green',
        width: '200px',
        height: '40px',
        fillColor: '#fcfcfc',
        lineColor: '#bcbcbc',
        spotColor: '#FF385A',
        spotRadius: '2',
        minSpotColor: '#ffbb35',
        maxSpotColor: '#ffbb35',
        highlightSpotColor: '#777777', // 라인 차트 위에 있는 데이터점
        highlightLineColor: 'white', // 마우스 호버할 때 생기는 수직선
        lineWidth: '1.3',
        disableTooltips: 'true',
      });

      $('.dynamicsparkline4').sparkline(myvalues4, {
        type: 'line',
        barColor: 'green',
        width: '200px',
        height: '40px',
        fillColor: '#fcfcfc',
        lineColor: '#bcbcbc',
        spotColor: '#FF385A',
        spotRadius: '2',
        minSpotColor: '#ffbb35',
        maxSpotColor: '#ffbb35',
        highlightSpotColor: '#777777', // 라인 차트 위에 있는 데이터점
        highlightLineColor: 'white', // 마우스 호버할 때 생기는 수직선
        lineWidth: '1.3',
        disableTooltips: 'true',
      });

      $('.dynamicsparkline5').sparkline(myvalues5, {
        type: 'line',
        barColor: 'green',
        width: '200px',
        height: '40px',
        fillColor: '#fcfcfc',
        lineColor: '#bcbcbc',
        spotColor: '#FF385A',
        spotRadius: '2',
        minSpotColor: '#ffbb35',
        maxSpotColor: '#ffbb35',
        highlightSpotColor: '#777777', // 라인 차트 위에 있는 데이터점
        highlightLineColor: 'white', // 마우스 호버할 때 생기는 수직선
        lineWidth: '1.3',
        disableTooltips: 'true',
      });
    });
    </script>
  </head>
  <body>

    <div class="body">
      <div class="aaa"></div>

      <div class="navbar home">
        <a href="/"><div class="nav-logo"></div></a>
        <div class="action-btn-wrapper">
          <span class="action-btn home">HOME</span>
          <span class="action-btn contents">CONTENTS</span>
          <span class="action-btn contact">CONTACT</span>
          <span class="action-btn template">TEMPLATE</span>
        </div>
      </div>

      <div class="content-header">
        <div class="top">
          [8월 Wanted 통계] 스타트업 기술 트렌드
        </div>
        <div class="divider"></div>
        <div class="bottom">
          <div class="data-count">분석 데이터 수: 1000개</div>
          <div class="data-origin">데이터 출처: 원티드 (wanted.co.kr)</div>
        </div>
      </div>

      <div class="rank-chart">
        <div class="table-header">
          <div class="first row row-10"></div>
          <div class="row row-20 narrow">기술</div>
          <div class="row row-10 narrow">점유율</div>
          <div class="row row-10 narrow">공고수</div>
          <div class="row row-20 trend">트렌드</div>
          <div class="additional row row-30">
            <span>관련스타트업</span>
            <span class="more-btn">더보기 ></span>
          </div>
        </div>
        <div class="table-body">
          <div class="data-row">
            <div class="first row row-10">1</div>
            <div class="row row-20 narrow">AWS</div>
            <div class="row row-10 narrow">20%</div>
            <div class="row row-10 narrow">253개</div>
            <div class="chart row row-20">
              <span class="dynamicsparkline1"></span>
            </div>
            <div class="row row-30">
              <span class="startup-span">아마존</span>,&nbsp;
              <span class="startup-span">구글</span>,&nbsp;
              <span class="startup-span">우버</span>
            </div>
          </div>
        </div>
        <div class="table-body">
          <div class="data-row">
            <div class="first row row-10">2</div>
            <div class="row row-20 narrow">Javascript</div>
            <div class="row row-10 narrow">15%</div>
            <div class="row row-10 narrow">200개</div>
            <div class="chart row row-20">
              <span class="dynamicsparkline2"></span>
            </div>
            <div class="row row-30">
              <span class="startup-span">페이스북</span>,&nbsp;
              <span class="startup-span">에어비앤비</span>,&nbsp;
              <span class="startup-span">네이버</span>,&nbsp;
              <span class="startup-span">우버</span>
            </div>
          </div>
        </div>
        <div class="table-body">
          <div class="data-row">
            <div class="first row row-10">3</div>
            <div class="row row-20 narrow">API</div>
            <div class="row row-10 narrow">14%</div>
            <div class="row row-10 narrow">198</div>
            <div class="chart row row-20">
              <span class="dynamicsparkline3"></span>
            </div>
            <div class="row row-30">
              <span class="startup-span">유진증권</span>,&nbsp;
              <span class="startup-span">원티드</span>,&nbsp;
              <span class="startup-span">코멘토</span>,&nbsp;
              <span class="startup-span">넥슨</span>
            </div>
          </div>
        </div>
        <div class="table-body">
          <div class="data-row">
            <div class="first row row-10">4</div>
            <div class="row row-20 narrow">iOS</div>
            <div class="row row-10 narrow">10%</div>
            <div class="row row-10 narrow">140개</div>
            <div class="chart row row-20">
              <span class="dynamicsparkline4"></span>
            </div>
            <div class="row row-30">
              <span class="startup-span">인스타그램</span>
            </div>
          </div>
        </div>
        <div class="table-body">
          <div class="data-row">
            <div class="first row row-10">5</div>
            <div class="row row-20 narrow">C</div>
            <div class="row row-10 narrow">6.5%</div>
            <div class="row row-10 narrow">22개</div>
            <div class="chart row row-20">
              <span class="dynamicsparkline5"></span>
            </div>
            <div class="row row-30">
              <span class="startup-span">키스톤</span>,&nbsp;
              <span class="startup-span">베지아보카도</span>
            </div>
          </div>
        </div>
      </div>

      <div class="charts-collection">
        <div class="chart-sec">
          <div class="chart-header">
            <div class="left">기술 점유율</div>
            <!-- <div class="right">내용</div> -->
          </div>
          <div class="chart-wrapper">
            <div class="chart" id="donut-chart"></div>
          </div>
        </div>
        <div class="chart-sec">
          <div class="chart-header">
            <div class="left">제목</div>
            <div class="right">내용</div>
          </div>
          <div class="chart-wrapper">
            <div class="chart" id="bar-chart"></div>
          </div>
        </div>
        <div class="chart-sec">
          <div class="chart-header">
            <div class="left">제목</div>
            <div class="right">내용</div>
          </div>
          <div class="chart-wrapper">
            <div class="chart" id="ver-bar-chart"></div>
          </div>
        </div>
        <div class="chart-sec">
          <div class="chart-header">
            <div class="left">제목</div>
            <div class="right">내용</div>
          </div>
          <div class="chart-wrapper">
            <div class="chart" id="word-cloud"></div>
          </div>
        </div>
        <div class="chart-sec">
          <div class="chart-header">
            <div class="left">제목</div>
            <div class="right">내용</div>
          </div>
          <div class="chart-wrapper">
            <div class="chart" id="spiderweb"></div>
          </div>
        </div>
        <div class="chart-sec">
          <div class="chart-header">
            <div class="left">제목</div>
            <div class="right">내용</div>
          </div>
          <div class="chart-wrapper">
            <div class="chart" id="scatterplot"></div>
          </div>
        </div>
      </div>


    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>

    <script src="js/data.js"></script>
  </body>
</html>
