<!DOCTYPE html>
<!-- http://jsfiddle.net/SpaceDog/zDSeR/ -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>베지아보카도</title>
    <link rel="icon" href="img/avocado.ico" type="image/x-icon" />
    <link rel="stylesheet" href="common/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="common/navbar.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/production/data.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  </head>
  
  <body>

    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <div class="body">

      <div class="navbar home">
        <a href="/"><div class="nav-logo"></div></a>
        <div class="action-btn-wrapper">
          <span class="action-btn home">HOME</span>
          <span class="action-btn contents">CONTENTS</span>
          <span class="action-btn contact">CONTACT</span>
          <span class="action-btn template">TEMPLATE</span>
        </div>
      </div>

      <div class="content-header"></div>

      <div class="rank-chart"></div>

      <div class="charts-collection"></div>

    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>

    <script src="js/data.js"></script>
  </body>
</html>
