<!DOCTYPE html>
<html lang="kr">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <title>베지아보카도</title>
      <link rel="icon" href="img/avocado.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="common/style.css" type="text/css" media="all">
      <link rel="stylesheet" href="css/production/index.css">
      <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Jua|Nanum+Gothic|Ubuntu|Open+Sans|Roboto|Lato" rel="stylesheet">

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>

  <body>

    <header id="particles-js">
      <nav>
        <div class="narrow-navbar">
          <div class="nav-logo"><a href="/"></a></div>
          <div class="dropdown-wrapper">
            <div class="dropdown" style="float:right;">
              <i class="fas fa-bars"></i>
              <div class="dropdown-content">
                <a href="/">HOME</a>
                <a href="/wanted">CONTENTS</a>
                <a href="/warning">TEMPLATE</a>
                <a href="/customer">CONTACT</a>
              </div>
            </div>
          </div>
          <div class="narrow-logo-txt"><p>텍스트분석으로</br> 나만의 컨텐츠를!</p></div>
          <div class="nav-button">
            <button type="nav-button" name="button"><a href="/wanted">둘러보기</a></button>
          </div>
        </div>

        <div class="navbar home">
          <div class="nav-logo"><a href="/"></a></div>
          <div class="nav-menu">
            <div class="action-btn home"><a href="/">HOME</a></div>
            <div class="action-btn home"><a href="/wanted">CONTENTS</a></div>
            <div class="action-btn home"><a href="/customer">CONTACT</a></div>
            <div class="action-btn home"><a href="/warning">TEMPLATE</a></div>
          </div>
          <div class="nav-login">
            <div class="login-btn"><a href="/login">로그인</a></div>
            <div class="login-btn"><a href="/register">회원가입</a></div>
          </div>
        </div>
        <div class="wide-logo-txt"><p>텍스트 분석으로</br>나만의 컨텐츠를 만들어보세요</p></div>
        <div class="wide-nav-button">
          <div class="nav-button"><a href="/wanted">둘러보기</a></div>
        </div>
      </div>
      </nav>
      <div class="scroll-down-anchor"><i class="fas fa-angle-double-down"></i></div>
    </header>

    <div class="content-1">
      <div class="content-1-txt">
        <p style="text-align: center; font-size: 1.5rem;">나만의 데이터 만들기</p>
      </div>
      <div id="text-analysis-chart" class="content-1-wrapper">
          <textarea id="text-analysis-sec" name="name" rows="8" cols="80" placeholder="분석을 원하는 텍스트를 넣고 버튼을 누르시면 사용된 단어의 개수 등을 분석하여 드립니다."></textarea>
          <div class="text-analysis-alert"></div>
        </div>
      <div class="txt-btn">
        <div class="txt-analysis-btn">분석 시작</div>
      </div>
    </div>

    <div class="content-2">
      <p>WHY US?</p>
      <div class="why-img">
        <div class="accuracy">
          <div class="accuracy-img"></div>
          <div class="accuracy-txt">
            <p>ACCURACY</p>
            <p>정확도 높은</br>분석을 제공합니다</p>
          </div>
        </div>
        <div class="insight">
          <div class="insight-img"></div>
          <div class="insight-txt">
            <p>INSIGHT</p>
            <p>데이터에 대한</br>인사이트를 제공합니다</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content-2-wide">
      <div class="content-2-bg"></div>
      <!-- https://www.pinterest.co.kr/pin/479703797805806226/ -->
      <div class="content-2-txt">
        <div class="sec sec-1">
          <div class="sec-txt">
            <h2>텍스트 분석</h2>
            <p>여러분의 텍스트도 소중한 데이터입니다.</p>
          </div>
          <div class="sec-btn"><a href="#"><i class="fas fa-arrow-right"></i> 바로가기</a></div>
        </div>
        <div class="sec sec-2">
          <div class="sec-txt">
            <h2>스타트업 기술 트렌드</h2>
            <p>최근 스타트업들의 기술 사용 트렌드를 확인하세요.</p>
          </div>
          <div class="sec-btn"><a href="/wanted"><i class="fas fa-arrow-right"></i> 바로가기</a></div>
        </div>
        <div class="sec sec-3">
          <div class="sec-txt">
            <h2>영어 템플릿 제작</h2>
            <p>비즈니스 이메일, 프레젠테이션 템플릿을 제작해보세요.</p>
          </div>
          <div class="sec-btn"><a href="#"><i class="fas fa-arrow-right"></i> 바로가기</a></div>
        </div>
        <div class="sec sec-4">
          <div class="sec-txt">
            <h2>실시간 증권 뉴스 분석</h2>
            <p>요즘 뜨는 증권 뉴스를 분석해보세요.</p>
          </div>
          <div class="sec-btn"><a href="#"><i class="fas fa-arrow-right"></i> 바로가기</a></div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-menu">
        <div class="menu-btns">
          <div class="footer-btn"><a href="/customer">문의하기</a></div>
          <div class="footer-btn"><a href="/about">서비스소개</a></div>
          <div class="footer-btn">개인정보처리방침</div>
          <div class="footer-btn">이용약관</div>
        </div>
        <div class="comp-info">
          <div class="logo">VeggieAvocado</div>
          <div class="info">
          <p>주소: 경기도 수원시 영통구 광교로 145, 2동 융합베이스캠프, 이의동, 차세대융합기술연구원</p>
          <p>대표자: 우혜민 | 사업자등록번호: 709-35-00453, 전화, 이메일</p>
          <p>2018 VEGGIE AVOCADO Co. Ltd. All Rights Preserved.</p>
          </div>
        </div>
      </div>
    </div>


    <script src="js/particles.js"></script>
    <script src="js/navbar.js"></script>
  </body>
</html>
