<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  </head>
  <body>

    <div class="body">
      <div class="navbar">
        <div class="logo">
          Veggie Avocado
        </div>
      </div>

      <div class="content-header">
        <div class="content-line"></div>
        <div class="content-title">
          컨텐츠 리스트
        </div>
      </div>

      <div class="content-body">

        <div class="content-sec">
          <div class="left">
            <div class="title">[8월 Wanted 통계] 스타트업 기술 트렌드</div>
            <div class="subtitle">2018년 7월 한달동안 주요 영화관 이용고객에 대해 설명, 연령별 고객 데이터 요청 분석 등 해보세요</div>
            <div class="tag">
              태그:&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>
            </div>
          </div>
          <div class="right">

            <div class="rank-table">
              <div class="table-header">
                <div class="right">
                  기술
                </div>
                <div class="left">
                  더 보기 >
                </div>
              </div>
              <div class="table-body">
                <div class="data-row">
                  <div class="right"><span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right"><span>Javascript</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right"><span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right"><span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right"><span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="content-sec">
          <div class="left">
            <div class="title">[8월 Wanted 통계] 스타트업 기술 트렌드</div>
            <div class="subtitle">2018년 7월 한달동안 주요 영화관 이용고객에 대해 설명, 연령별 고객 데이터 요청 분석 등 해보세요</div>
            <div class="tag">
              태그:&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>
            </div>
          </div>
          <div class="right">

            <div class="rank-table">
              <div class="table-header">
                <div class="right">
                  기술
                </div>
                <div class="left">
                  더 보기 >
                </div>
              </div>
              <div class="table-body">
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">2 <span>Javascript</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">3 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="content-sec">
          <div class="left">
            <div class="title">[8월 Wanted 통계] 스타트업 기술 트렌드</div>
            <div class="subtitle">2018년 7월 한달동안 주요 영화관 이용고객에 대해 설명, 연령별 고객 데이터 요청 분석 등 해보세요</div>
            <div class="tag">
              태그:&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>
            </div>
          </div>
          <div class="right">

            <div class="rank-table">
              <div class="table-header">
                <div class="right">
                  기술
                </div>
                <div class="left">
                  더 보기 >
                </div>
              </div>
              <div class="table-body">
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">2 <span>Javascript</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">3 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="content-sec">
          <div class="left">
            <div class="title">[8월 Wanted 통계] 스타트업 기술 트렌드</div>
            <div class="subtitle">2018년 7월 한달동안 주요 영화관 이용고객에 대해 설명, 연령별 고객 데이터 요청 분석 등 해보세요</div>
            <div class="tag">
              태그:&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>
            </div>
          </div>
          <div class="right">

            <div class="rank-table">
              <div class="table-header">
                <div class="right">
                  기술
                </div>
                <div class="left">
                  더 보기 >
                </div>
              </div>
              <div class="table-body">
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">2 <span>Javascript</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">3 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="content-sec">
          <div class="left">
            <div class="title">[8월 Wanted 통계] 스타트업 기술 트렌드</div>
            <div class="subtitle">2018년 7월 한달동안 주요 영화관 이용고객에 대해 설명, 연령별 고객 데이터 요청 분석 등 해보세요</div>
            <div class="tag">
              태그:&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>,&nbsp;
              <span class="tag-elmt">피자</span>
            </div>
          </div>
          <div class="right">

            <div class="rank-table">
              <div class="table-header">
                <div class="right">
                  기술
                </div>
                <div class="left">
                  더 보기 >
                </div>
              </div>
              <div class="table-body">
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">2 <span>Javascript</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">3 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
                <div class="data-row">
                  <div class="right">1 <span>AWS</span></div>
                  <div class="left">6.5%</div>
                </div>
              </div>
            </div>

          </div>
        </div>

      <div class="footer">

      </div>
    </div>

  </body>
</html>
